/* 1.0 Base */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
strong,
span {
	font-family: "Helvetica Neue", "Arial", sans-serif;
}

/* 2.0 Layout */

header {
	width: 100%;
	height: 75px;
	padding: 25px 0 0;
	background-color: #e58e6c;
}

.container {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	background-color: #bdd4de;
}

/* 3.0 Modules */

.map-container {
	min-width: 320px;
	width: 100%;
	height: 100%;
}

.list-container {
	width: 100%;
	overflow: auto;
	padding: 30px;
	background-color: #3f5765;
	color: white;
}

@media screen and (min-width: 700px) {
	.map-container {
		width: calc(100% - 320px);
	}
	.list-container {
		overflow: auto;
		width: 320px;
	}
}

.list-container ul {
	width: 100%;
	margin: 0 auto;
	list-style: none outside;
	padding: 0;
}

.list-item {
	width: 250px;
	margin: 10px auto;
	padding: 3px;
	border-radius: 15px;
	background-color: #88a4b5;
	text-align: center;
	vertical-align: middle;
	list-style: none;
}

.list-item:hover {
	border: 2px solid #e58e6c;
}

.list-item-title {
	display: block;
}

.list-item-category {
	display: block;
}

.search-box {
	width: 250px;
	height: 30px;
	display: block;
	margin: auto;
	vertical-align: middle;
	background-color: #e5c3ba;
	border: none;
	border-radius: 15px;
	padding: 0 10px;
}

.map {
	width: 100%;
	height: 100%;
}